# ===============================
# n8n Configuration
# ===============================

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/

GENERIC_TIMEZONE=Asia/Riyadh
N8N_VERSION=2.40.6

# ===============================
# PostgreSQL Configuration
# ===============================

POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=CHANGE_ME


# ===============================
# n8n Security
# ===============================

N8N_ENCRYPTION_KEY=CHANGE_ME